*{
    border: 2px solid red;
}
.body{
    width: 100%;
   margin: 0;
   border: 2px solid green;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:  "slnt" 0;
 background-color: rgba(17, 17, 17, 1);
   
}
/* shared style */
.display-flex{
    display: flex;
}
/* nav style */
.nav{
    justify-content: space-between;   
}
.fitness{
    font-weight: 800;
    font-style: italic;
    font-size: 2.1rem;
    color: rgba(230, 83, 60, 1);
    margin-left: 200px;
}
.home{
    font: inter;
    font-weight: 600;
    font-size: 18px;
    
    border-radius: 40px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(230, 83, 60, 1);
}
.links{
    list-style: none;
    
}
.link{
    text-decoration: none;
    font: inter;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}
.navbar{
    height: 50px;
   width: 380px;
    border-radius: 39px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-right: 150px;
    margin-top: 55px;
   
}
#get{
  font-size: 3.1rem;
  font-weight: 900;
  color: rgba(255, 255, 255, 1);   
}
#shape{
    font-family: Miama;
    font-weight: 400;
    font-style: italic;
    font-size:40px;
}
#huge{
    font-weight: 400;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
}
.btn-1{
    border: none;
    border-radius: 42px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(230, 83, 60, 1);
    font-size: 18px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}
.btn-2{
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 42px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(17, 17, 17, 1);
    font-size: 18px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1); 
}
.nav-ul{
    gap: 20px;
}
/* banner style */
.div1{
    gap: 10px;
    position: absolute;
    bottom: 60px;
    right: 395px;
    width: 150px;
    height: 50px;
    padding-left: 10px;
    padding-top: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background-color: rgba(48, 48, 48, 0.54);
    color: rgba(239, 237, 232, 0.65);
    
}
.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(230, 83, 60, 1);
}
.video{
    width: 108px;
    height: 56px;
   
}
#fifty{
    font-weight: 900;
    font-size: 15px;
    color: rgba(250, 250, 249, 1);
}
.tutorial{
    font-weight: 400;
    font-size: 16px;
  
}
.div2{
  
    width: 140px;
    height: 40px;
    position: absolute;
    bottom: 350px;
   left: 250px;
    width: 150px;
    height: 50px;
    padding-left: 10px;
    padding-top: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background-color: rgba(48, 48, 48, 0.54);
    color: rgba(239, 237, 232, 0.65);
}
#fiveh{
    font-weight: 900;
    font-size: 15px;
    color: rgba(250, 250, 249, 1);   
}
#workout{
    font-weight: 400;
    font-size: 10px;  
}
.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.banner-1{
    width: 80%;
   margin-left: 200px;
}
.banner-2{
    position: relative;
   width: 55%;
  margin-left: 70px;
}
/* change */

.image-4{
    display: flex;
   margin-left: 27%;
    text-align: center;
    gap: 30px;
    
}
.change{
    width: 99.5%;
    margin-top: 50PX;
    text-align: center;
    color: rgba(255,  255, 255, 0.5);
}
#habit{
    font-weight: 900;
    font-size: 48px;
    color: rgba(255, 255, 255, 1);
}
#belive{
    font-weight: 400;
    font-size: 10PX;
}
#move{
    font-weight: 600;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}
#shou{
    font-weight: 400;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);
}
/* section-2 */
.section-2{
    width: 100%;
    height: 400px;
    position: relative;    
    padding: 30px;
   box-sizing: border-box;
   margin-top: 80px;
}
.evry{
    width: 50%;
    display: flex;
    justify-content: space-between;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   background-color: rgba(34, 34, 34, 1);
   padding: 20px;
   border-radius: 18px;
}
.image-man{
    width: 200px;
    
}
.image-man > img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
#run{
   font-weight: 900;
   font-size: 30px;
   color: rgba(255, 255, 255, 1); 
}
#we{
 font-weight: 400;
 font-size: 10px;
 color: rgba(255, 255, 255, 0.5);   
}
#btn-3{
    border: none;
    border-radius: 42px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(230, 83, 60, 1);
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}
/* bmi calculator */
.main-bmi{
    width: 100%;
    height: 200px;
    margin-bottom: 60px;
    position: relative; 
}
.bmi{
    width: 25%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
     
}
#calculator{
    font-size: 48px;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
}
#bmip{
    margin-left: 10px;
    font-size: 10px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
/* section-3*/ 
.section-3{
    background-color: rgba(34, 34, 34, 1);
}
#chart{
    margin: 10px;
    font-weight: 900;
    font-size: 28px;
    color: rgba(255, 255, 255, 1);
}
table,th,td{
    border: 1px solid rgba(255, 255, 255, 0.5);;
}
table,td{
    font-size: 10px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
table{
    border-collapse: collapse;
}
td,th{
    padding: 10px;
}
#bh{
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}
.section-3{
    height: 400px;
    margin-bottom: 50px;
  position: relative;
}
.main-chart{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}
.bmi-chart{

margin-left: 17%;
padding-left: 5px;

}
.bmi-chart > table{
    margin-left: 7px;
    margin-top: 40px;
}
.calculate{
    width: 35%;
    margin-right: 5%;
}
.form{
    margin-top: 20px;
}
.form > input{
    width: 250px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    
}
#sec1{
    padding: 10px;
    width: 278px;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    
}
#sec2{
    width: 556px;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    
}
#btn-9{
    border: none;
    border-radius: 42px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
  margin: 10px;
    background-color: rgba(230, 83, 60, 1);
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);  
}
/* meet our team */
.meet{
    width: 100%;
    text-align: center;
}
#our{
    font-size: 30px;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
}
#meetp{
    font-weight: 400;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);
}
.image-6{
display: grid;
grid-template-columns: repeat(3, 200px);
gap: 20px;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
padding: 12px;
background-color: rgba(34, 34, 34, 1);
box-sizing: border-box;
border-radius: 18px;
}
.image6{
    position: relative;
    width: 100%;
    height: 500px;
}
.imagea{
    width: 200px;
    height: 200px;
    border-radius: 18px;
    background-image: url(../images/trainer1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.imageb{
    width: 200px;
    height: 200px;
    border-radius: 18px;
    background-image: url(../images/trainer2.png);
    background-repeat: no-repeat;
    background-size: cover; 
}
.imagec{
    width: 200px;
    height: 200px;
    border-radius: 18px;
    background-image: url(../images/trainer3.png);
    background-repeat: no-repeat;
    background-size: cover; 
}
.imaged{
    width: 200px;
    height: 200px;
    border-radius: 18px;
    background-image: url(../images/trainer4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
}
.imagee{
    width: 200px;
    height: 200px;
    border-radius: 18px;
    background-image: url(../images/trainer5.png);
    background-repeat: no-repeat;
    background-size: cover;  
}
.imagef{
    width: 200px;
    height: 200px;
    border-radius: 18px;
    background-image: url(../images/trainer6.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
#bell{
    font-size: 15px;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
    margin-top: 110px;
    margin-left: 20px;
    
}
#Trainer{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 20px;
}
/* footer */
.footer{
    display: flex;   
    justify-content: center;  
    margin-top: 50px;
    background-color: rgba(34, 34, 34, 1);
}

#fg{
    padding-left: 50px;
}
.clm3{
    padding-left: 50px;
}
.clm1{
    padding-left: 10px;
    padding-right: 10px;
}
.clm2{
}
.fit{
    font-weight: 800;
    font-style: italic;
    font-size: 36px;
    color: rgba(230, 83, 60, 1); 
}

#gst{
    font-size: 25px;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
}

li{
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    padding: 5px;
   
  
}

hr{
    width: 80%;
    
   border: 1px solid rgba(255, 255, 255, 0.1);
}
.lastf{
    width: 99.5%;
    height: 50px;
  padding-top: 10px;
    text-align: center;
    background-color: rgba(34, 34, 34, 1);
    
}
.j{
    width: 98.5%;
    background-color: rgba(34, 34, 34, 1);
    padding: 10px;

}
#ltp{
    font-weight: 400px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 576px) {

    .fitness{
           margin-left: 50px; 
    }
    
    .banner{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .banner-1{
       margin-left: 45px;
    }
    .div1{
        position: absolute;
        right: 200px;
      
    }
    .image-4{
        display: flex;
        flex-direction: column;
        margin-right: 150px;      
    }
    .section-2{
        width: 576px;
        height: 400px;
        position: relative;    
        padding: 30px;
       box-sizing: border-box;
       margin-top: 80px;
    }
    .evry{
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    .image-man{
        width: 100%;
        margin-top: 20px;
        
    }
    #btn-3{
        margin-left: 90px;
    }
    .bmi{
        width: 80%;
        margin-top: 50px; 
    }
    .main-chart{
        width: 100%;
        height: 800px;
        display: flex;
        flex-direction: column; 
    }
    .bmi-chart > table{
        margin-left: 7px;
        margin-top: 40px;
    }
     .section-3{
        height: 800px;
        margin-bottom: 50px;
        position: relative;
     }
     .calculate{
        width: 60%;
        margin-left: 80px;
    }
    .form{
        width: 200px;
        margin-top: 20px;
    }
    #sec2{
        width: 80%;   
    }
    #sec1{
        padding: 10px;
        width: 274px;
        margin-left: 10px; 
    }
    .image-6{
        display: grid;
        grid-template-columns: repeat(1, 200px);
        
        }
    .image6{
            position: relative;
            width: 100%;
            height: 1400px;
        }
    .footer{
            display: flex;
            flex-direction: column;   
        }
         
}




